.home-container {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.beer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
}

.beer-card {
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.beer-card:hover {
    transform: translateY(-4px);
}

.beer-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.error-msg {
    color: red;
    text-align: center;
}

.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.counter button {
  width: 30px; 
  height: 30px; 
  border: 1px solid #f28f8f;
  border-radius: 10px;
  background-color: #eb9999;
  cursor: pointer;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.counter span {
  min-width: 20px;
  text-align: center;
  font-size: 16px;
}

.buybutton button {
  background-color: #eb9999;
  border-radius: 10px;
  padding: 8px 60px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.buybutton button:hover {
  background-color: #f28f8f;
  transform: scale(1.05);
}